<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<!-- Make the translated search clear button label available for use in JS -->
<!-- See buildClearSearchButton() in script.js -->
<script type="text/javascript">window.searchClearButtonLabelLocalized = "{{t 'search_clear'}}";</script>

<!-- adding the highlight.js package -->
<link rel="stylesheet" href="{{asset 'prism.css'}}">
<script src="{{asset 'prism.js'}}"></script>
<script>hljs.highlightAll();</script>

  <div id="userid" class="visibility-hidden">
    {{user.id}}
  </div>
