<footer>
    <!--<div class="footer-baseline"> -->
        <div class="footer-links">
            <div>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/speechmatics/" class="social-icons"><img src="{{asset 'Facebook_white.png'}}"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/speechmatics/" class="social-icons"> <img src="{{asset 'Linkedin_white.png'}}"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Speechmatics/" class="social-icons"> <img src="{{asset 'x_white.png'}}"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCaZUN77-Wq0XQg5ICHLxKVw/" class="social-icons"> <img src="{{asset 'Youtube_white.png'}}"></a>
                    </li>

                </ul>
            </div>
            <div class="legal-links">
                <ul>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/privacy-policy">Privacy Policy</a>
                    </li>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/terms-of-website">Terms of
                            Website</a></li>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/terms-of-service">Terms of
                            Service</a></li>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/cookie-policy">Cookie Policy</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <span>Copyright ©</span>
                <span>
                    Speechmatics</span>
                <span id="yearPlaceholder">
                    <script>
                        document.write(/\d{4}/.exec(Date())[0])
                    </script>
                </span>

            </div>
        </div>
    </div>
   <!-- </div> -->
</footer>