<footer>
    <div class="footer-baseline">
        <div>
            <div class="social-links">
                <ul>
                    <li><a href="https://www.linkedin.com/company/speechmatics/" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><clipPath id="clip-path"><rect id="Rectangle_2208" data-name="Rectangle 2208" width="12.332" height="12.332" fill="#FFFFFF"></rect></clipPath></defs><g fill="none" stroke="#FFFFFF" stroke-width="0.5" class="roundel"><circle cx="13.156" cy="13.156" r="13.156" stroke="none"></circle><circle cx="13.156" cy="13.156" r="12.906" fill="none"></circle></g><g transform="translate(6.99 6.35)" class="icon"><rect width="2.578" height="8.221" transform="translate(0.206 4.055)" fill="#FFFFFF"></rect><g><g clip-path="url(#clip-path)"><path d="M78.4,64.776q-.146-.016-.3-.022a3.008,3.008,0,0,0-2.541,1.163,1.823,1.823,0,0,0-.112.161v-1.1H72.979V73.2h2.578V69.337a3.356,3.356,0,0,1,.236-1.661,1.258,1.258,0,0,1,1.147-.643A1.367,1.367,0,0,1,78.4,68.444v4.793h2.578V67.874a2.762,2.762,0,0,0-2.578-3.1" transform="translate(-68.644 -60.905)" fill="#FFFFFF"></path><path d="M2.99,1.495A1.495,1.495,0,1,1,1.495,0,1.495,1.495,0,0,1,2.99,1.495" fill="#FFFFFF"></path></g></g></g></svg></a></li>
                    <li><a href="https://twitter.com/Speechmatics/" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><clipPath id="clip-path"><rect width="13.965" height="12.198" fill="#FFFFFF"></rect></clipPath></defs><g fill="none" stroke="#FFFFFF" stroke-width="0.5" class="roundel"><circle cx="13.156" cy="13.156" r="13.156" stroke="none"></circle><circle cx="13.156" cy="13.156" r="12.906" fill="none"></circle></g><g transform="translate(6.174 7.057)" clip-path="url(#clip-path)" class="icon"><path d="M0,10.446a6.048,6.048,0,0,0,4.1-1.2A3.18,3.18,0,0,1,1.416,7.2a4.256,4.256,0,0,0,1.1-.108A3.053,3.053,0,0,1,.383,4.246c.4.035.708.3,1.19.262A3.093,3.093,0,0,1,.78.594,8.563,8.563,0,0,0,5.185,3.4c.095.024.19.051.285.073a5.811,5.811,0,0,0,1.258.293c.472-.059,0-.6.12-1.3A2.876,2.876,0,0,1,11.41.568,1.285,1.285,0,0,0,12.853.71c.269-.119.54-.233.858-.37-.073.628-.551.968-.935,1.435a2.131,2.131,0,0,0,1.189-.153,1.993,1.993,0,0,1-.779.953,1.118,1.118,0,0,0-.456.937c-.2,6.307-7.362,11.186-12.263,7.3-.475-.376-.012,0-.467-.368" transform="translate(0 0)" fill="#FFFFFF"></path></g></svg></a></li>
                    <li><a href="https://www.youtube.com/channel/UCaZUN77-Wq0XQg5ICHLxKVw/" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><g id="Ellipse_668" data-name="Ellipse 668" fill="none" stroke="#FFFFFF" stroke-width="0.5"><circle cx="13.156" cy="13.156" r="13.156" stroke="none"></circle><circle cx="13.156" cy="13.156" r="12.906" fill="none"></circle></g><g id="Group_2143" data-name="Group 2143" transform="translate(5.538 8.092)"><path id="Path_3969" data-name="Path 3969" d="M12.753,9.41H2.484A2.484,2.484,0,0,1,0,6.926V2.484A2.484,2.484,0,0,1,2.484,0H12.753a2.566,2.566,0,0,1,1.91.9,2.366,2.366,0,0,1,.574,1.588V6.926A2.484,2.484,0,0,1,12.753,9.41" fill="#FFFFFF"></path><path id="Path_3970" data-name="Path 3970" d="M105.335,45.806l-3.955-2.283v4.567Z" transform="translate(-95.739 -41.101)"></path><rect id="Rectangle_2232" data-name="Rectangle 2232" fill="#FFFFFF"></rect></g></svg></a></li>
                    <li><a href="https://www.facebook.com/speechmatics/" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><defs><clipPath id="clip-path"><rect id="Rectangle_2233" data-name="Rectangle 2233" width="8.079" height="14.172" fill="#FFFFFF"></rect></clipPath></defs><g id="Ellipse_668" data-name="Ellipse 668" fill="none" stroke="#FFFFFF" stroke-width="0.5"><circle cx="13.156" cy="13.156" r="13.156" stroke="none"></circle><circle cx="13.156" cy="13.156" r="12.906" fill="none"></circle></g><g id="Group_2145" data-name="Group 2145" transform="translate(9.117 6.07)"><g id="Group_2144" data-name="Group 2144" clip-path="url(#clip-path)"><path id="Path_3971" data-name="Path 3971" d="M4.991,8.24v5.932H2.263V8.24H0v-2.4H2.263V4.957C2.263,1.707,3.619,0,6.491,0A4.717,4.717,0,0,1,8.076.256V2.636a5.437,5.437,0,0,0-1.254-.145,1.564,1.564,0,0,0-1.344.559,2.975,2.975,0,0,0-.486,1.937v.849H8.079l-.829,2.4Z" fill="#FFFFFF"></path></g></g></svg></a></li>
                </ul>
            </div>
            <div class="legal-links">
                <ul>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/privacy-policy">Privacy Policy</a></li>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/terms-of-website">Terms of Website</a></li>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/terms-of-service">Terms of Service</a></li>
                    <li><a target="_blank" href="https://www.speechmatics.com/legal/cookie-policy">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="copyright">
                <span>Copyright ©</span>
                <span>
                    Speechmatics</span>
                <span id="yearPlaceholder">
                    <script>
                        document.write(/\d{4}/.exec(Date())[0])
                    </script>
                </span>

            </div>
        </div>
    </div>
</div></footer>
