<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>

    </style>
  </head>
  <body>

    <h2 style="text-align:center">Meet the Team</h2>

    <div class="card">
      <img src="steve.jpg" alt="Steve" style="width:100%" />
      <h1>Steve Fellowes</h1>
      <p class="title">Customer Support Manager</p>
      <!--<p>Harvard University</p>-->
      <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>

      </div>
      <p><button>Contact</button></p>
    </div>

  </body>
</html>